# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Eclipse junk
.metadata

# Debug files
*.dSYM/
/Head-First-C/Chapter 3 Tools/Chapter 3 Tools/dist/
/Head-First-C/Chapter 3 Tools/Chapter 3 Tools/build/
/BillsChecker/build/
/BillsChecker/dist/
